body{
    font-family:'Courier New', Courier, monospace;
    margin:0;
    background-color: rgb(255, 255, 255);
}

.new-book{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5em;
    margin: 10px;
    margin-top:15px;
}

.new-book .input {
    grid-column: 1;
    padding: 3px;
    border: 2px solid black;
}

/* label[for="isFinished"]{
} */
#isFinished{
    margin-left: 11px;
}

#submit{
    grid-column: 2;
    grid-row: 1/4;
    border: 2px solid black;
    font-family : inherit;
}

#submit:hover{
    background-color: black;
    color:white;
}
#logo{
    grid-column: 3;
    grid-row: 1/4;
    justify-self: center;
}

footer{
    background-color: black;
    color:white;
    position:absolute;
    bottom:0;
    width: 100%;
    height: 2rem;
    display:flex;
}

span{
    margin:auto;
    padding:5px;
}

.books{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 10px;
    /* border: 5px solid red; */
    margin: 5px;

}

.book{
    border: 2px solid black;
    width: 600px;
    margin: 5px;
    padding: 10px;
    justify-self: center;
    border-radius: 5px;

    background-color:rgb(233, 231, 128);
}

.book:hover{
    background-color:rgb(241, 239, 80)
}

.bookStyle{
    border: 2px solid black;
    width: 600px;
    margin: 5px;
    padding: 10px;
    justify-self: center;
    border-radius: 5px;
    background-color:rgb(233, 231, 128);
}

.bookStyle2{
    border: 2px solid black;
    width: 600px;
    margin: 5px;
    padding: 10px;
    justify-self: center;
    border-radius: 5px;
    background-color:rgb(194, 194, 192);
}

.delBtn{
    color:black;
    float: right;
    background-color:white;
    border: 1px solid black;
}

.delBtn:hover{
    color:white;
    float: right;
    background-color:black;
    border: 1px solid white;
}

.status{
    float:right;
    margin-right: 10px;
    background-color: white;
    border: 1px solid black;
}

.status:hover{
    color:white;
    float: right;
    background-color:black;
    border: 1px solid white;
}

.bookStyleRead{
    border: 2px solid black;
    width: 600px;
    margin: 5px;
    padding: 10px;
    justify-self: center;
    border-radius: 5px;
    background-color:rgb(194, 194, 192);
}
.bookStyleNotRead{
    border: 2px solid black;
    width: 600px;
    margin: 5px;
    padding: 10px;
    justify-self: center;
    border-radius: 5px;
    background-color:rgb(233, 231, 128);
}
